.alert{
    display: none;
}

.logo {
    height: 100px;
    width: 100px;
    border: 2px solid red;
    border-radius: 100px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 1;
}

nav {
    align-items: center;
    padding: 30px;
    height: 25px;
    background-color: rgb(18, 18, 62);
    border-radius: 15px;
    justify-content: space-between;
}

nav strong {
    color: rgb(255, 0, 238);
    font-size: 30px;
    font-weight: bolder;
    font-family: cursive;
    margin-left: 10px;
}

.info a {
    color: white;
    margin: 20px;
    font-size: 19px;
    text-decoration: none;
}

.info a:hover{
    color: rgb(150, 0, 0);
    text-decoration: underline;
}

.btn button {
    margin: 5px;
    background-color: #45c26c;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.h1{
    color: #00ffb3;
    margin-top: 20px;
    margin-left: 12px;
}

.gameContainer {
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 44px;
    margin-left: 10px;
    padding: 10px;  
}

.games {
    /* border: 2px solid red; */
    width: 14%;
    height: 150px;
    flex-direction: column;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
}

.games img {
    border-radius: 20px;
    width: 100%;
    height: 85%;
    margin-right: 100px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid rgb(5, 70, 11);
}

.games img:hover {
    cursor: pointer;
    border: 1px solid #0022ff;
    box-shadow: 0 8px 10px rgba(0, 191, 255, 0.3);
    transform: scale(1.03);
    background-color: rgba(0, 191, 255, 0.05);
}

.games strong {
    margin-left: 50px;
    font-size: 15px;
}

footer{
    background-color: #0e0e1a;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    gap: 200px;
    padding: 20px;
}

footer div a{
    font-size: 12px;
    color: white;
    text-decoration: none;
}

footer div{
    gap: 15px;
}

@media (max-width: 1300px) {
  
    main{
        display: none;
    }
  
    .alert{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
}